APP_NAME="Subscription Tracker"
APP_URL="http://subscription_tracker.test:81" # Change the port number to match your local server configuration (e.g., 80, 8080, etc.)
APP_ENV="development"  # Change to 'production' when deploying to a live server
APP_DEBUG="true" # Set to 'false' in production

# Database
DB_HOST="127.0.0.1"
DB_PORT="3307"
DB_NAME="subscription_tracker"
DB_USER="root"
DB_PASS=""
DB_CHARSET="utf8mb4"

# Session
SESSION_TIMEOUT=1800
SESSION_NAME="subtrkr_sess"

# Mailpit SMTP (Local Testing) / Comment this section if you want to use Gmail SMTP
MAIL_HOST="127.0.0.1"
MAIL_PORT=1025
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_ENCRYPTION="none"
MAIL_FROM_ADDRESS="noreply@subscription-tracker.test"
MAIL_FROM_NAME="Subscription Tracker"


# Gmail SMTP (PHPMailer) — uncomment and fill in to use instead of Mailpit
# MAIL_HOST="smtp.gmail.com"
# MAIL_PORT=587
# MAIL_USERNAME="your-email@gmail.com"
# MAIL_PASSWORD="your-app-password"
# MAIL_FROM_NAME="Subscription Tracker"
# MAIL_ENCRYPTION="tls"

# Email Alert Settings
ALERT_DAYS_BEFORE=3,1 # Comma-separated list of days before subscription expiration to send alerts (e.g., 3,1 means send alerts 3 days and 1 day before expiration)
