<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Forward all requests to the public/ directory, excluding scripts
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_URI} !^/scripts/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
