Options -Indexes
RewriteEngine On
RewriteBase /

# Protect .env file
<Files ".env">
    Order allow,deny
    Deny from all
</Files>

# If not in public directory, redirect there
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_URI} !^/scripts/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L]
